.button {
  display: none;
}

@media screen and (max-width:599px) {
#myCanvas {
  width: 100%;
}

.button {
  display: block;
  padding-top: 50px;
}

.move {
  width: 50%;
  height: 100px;
  float:left;
}

.ctrl {
  width: 50%;
  height: 100px;
  float: left;
}

#movebutton {
  background: gray;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50px;
}

#ctrlbutton {
  background: gray;
  width: 100px;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  border-radius: 30px;
}
